// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table{
  .actions{
    width: 40px !important;
  }
}
.v-select{
  width: 100%;
  min-width: 250px;
}
